.rectangle{
 display: flex;
  align-items: center;
  justify-content: center;

  width: 413px;
  height: 528px;

    color: black ;
    text-align: center;

  background: #FFFFFF;
  border-radius: 3%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;

  font-size: 14px;

  background-color: lightskyblue;
  border: 1px solid white;
  border-radius: 4px;
}
.advertisment {
    margin-top: 70px;

    color: steelblue;
    text-align: center;

    opacity: 0.5;
}

label{
    color:steelblue;
}

.hz{
   color:steelblue;
}